In [82]:
import pandas as pd
import numpy as np
#https://www.kaggle.com/kemical/kickstarter-projects

In [83]:
df = pd.read_csv(r'C:\Users\PRM\Documents\Projects\Python\Kickstarter\ks-projects-201612.csv',encoding='cp1252')
df2 = pd.read_csv(r'C:\Users\PRM\Documents\Projects\Python\Kickstarter\ks-projects-201801.csv')
df = df.iloc[:,:-4]

C:\Users\PRM\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [84]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375

In [45]:
df.shape

(323750, 13)

In [48]:
df2.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [50]:
df.dtypes

ID                 int64
name              object
category          object
main_category     object
currency          object
deadline          object
goal              object
launched          object
pledged           object
state             object
backers           object
country           object
usd pledged       object
dtype: object

In [61]:
pd.to_datetime(df['deadline '],format='%Y-%m-%d',errors='ignore')

0         2015-08-11 12:12:28
1         2013-01-12 00:20:50
2         2012-03-17 03:24:11
3         2015-07-04 08:35:03
4         2016-02-26 13:38:27
                 ...
323745    2014-09-17 02:35:30
323746    2011-06-22 03:35:14
323747    2010-07-01 19:40:30
323748    2016-01-13 18:13:53
323749    2011-07-19 09:07:47
Name: launched , Length: 323750, dtype: object

In [52]:
df.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged '],
      dtype='object')

In [87]:
df['deadline ']=df['deadline '].str[:10]

In [88]:
pd.to_datetime(df['deadline '],format='%Y-%m-%d')

ValueError: time data SEK doesn't match format specified

In [89]:
df['deadline '].str[:4].unique()

array(['2015', '2013', '2012', '2016', '2014', '2011', '2010', '2017',
       '2009', 'SEK', 'USD', 'GBP', 'Musi', 'Craf', 'CAD', 'SGD', 'EUR',
       'AUD', 'Tech', 'Publ', 'Appa', 'NZD', 'Art', 'Film', ' Eso',
       'Fash'], dtype=object)

In [90]:
df

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000,2015-08-11 12:12:28,0,failed,0,GB,0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000,2013-01-12 00:20:50,220,failed,3,US,220
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000,2012-03-17 03:24:11,1,failed,1,US,1
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000,2016-02-26 13:38:27,52375,successful,224,US,52375
...,...,...,...,...,...,...,...,...,...,...,...,...,...
323745,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000,2014-09-17 02:35:30,25,canceled,1,US,25
323746,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500,2011-06-22 03:35:14,155,failed,5,US,155
323747,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000,2010-07-01 19:40:30,20,failed,1,US,20
323748,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000,2016-01-13 18:13:53,200,failed,6,US,200
323749,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000,2011-07-19 09:07:47,524,failed,17,US,524

In [92]:
df['state '].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended', '4262', '3984', '525', '0', '3035', '3273', '590',
       '23924', '12306', '13675', '2', '4690', '4488.01', '687', '450',
       '16185', '80', '1495', '20', '14309.36', '2011-06-04 01:17:48',
       '8542', '3363', '950', '1800.5', '352', '1320', '18', '2161',
       '2016-06-28 21:36:59', '331', '17861', '1', '2630', '1085', '3711',
       '103', '8609.6', '312', '11044', '5600.65', '630', '1010', '178',
       '2530', '3671', '65', '5', '4451', '16', '2000', '377', '125',
       '6169', '90', '765', '218.5', '1850', '166', '2107', '63', '10',
       '3300', '306', '13', '400', '7703', '650', '800', '4287', '1056',
       '5940', '45', '1827', '10890.45', '245', '276', '200', '30', '6',
       '797', '6126', '175', '12201', '3605.13', '1200', '325', '2632',
       '7271', '46', '2016-02-18 21:40:23', '465', '9430.8', '2308',
       '310', '7470', '2759', '9857.8', '6453', '6189', '6093', '51',
       '860', '6442', '390', '1595', '1763.47', '130', '11315.5', '25',
       '3141', '218.75', '1700', '504', '641', '100', '2331', '763',
       '115', '255', '5656.43', '50', '514', '3285.11', '109', '251',
       '1230', '1600', '890', '1661', '20223', '171', '5010', '157',
       '381', '3320', '1322', '1403', '14032.77', '191', '3280',
       '6983.18', '575', '1404', '55', '900', '477', '320', '2312',
       '4415', '14159', '26', '1400', '9500', '24780', '235', '270',
       '3333', '500', '37', '6207', '202', '1397', '27777', '106', '15',
       '1421', '971', '2016-02-22 21:57:30', '70', '1035', '258', '1146',
       '6323', '8', '7554', '422.38', '8047', '278', '1191', '4417',
       '110', '343', '640', '41', '8494', '130.16', '180', '15816', '36',
       '35723', '1753', '86', '20000', '1301', '7542', '10564', '345',
       '7839', '506', '7492', '6696', '157323.21', '21', '301', '4354',
       '1669', '846', '239', '2338', '485', '3288', '145', '5275.01',
       '9210.69', '33.06', '741', '150', '35', '30112', '9337', '936',
       '15096', '165', '360', '1327.89', '1111.11', '5425.64', '17169',
       '9951', '81', '451', '410', '721', '498', '85', '938', '2614',
       '2503', '710', '2927', '5556', '290', '38', '1181', '27660',
       '9187', '2053', '118', '2058', '475', '1731', '516', '791', '6790',
       '300', '497', '8084', '244321', '25651.99', '515', '625', '20658',
       '6972.6', '1900', '31', '201', '2721', '2742', '31657', '75',
       '2408', '7562', '170', '751', '1598', '490', '3495', '40', '1822',
       '4685', '7000.58', '3660', '46653', '2290', '3065.7', '1295',
       '2845', '17350', '29', '187', '12484', '225', '31813', '97',
       '11558', '2718', '535', '3501', '2015-09-08 22:08:39', '876',
       '700', '5831', '1665', '2571.31', '316', '5797', '63.01', '2142',
       '38451', '15361', '5621', '3185', '8040', '2013-01-03 03:45:14',
       '39', '365', '140.01', '11565', '6203', '253', '755', '1270',
       '655', '260', '1756', '12', '95', '22', '123', '4507', '52670',
       '8253', '4367', '1410', '621', '1366', '2531', '445', '75000', '7',
       '384', '1690', '6430', '6091', '2015-10-10 01:00:00', '1685',
       '396', '3036', '433', '15665', '3041', '2015-01-28 13:53:56',
       '10770', '615', '35.01', '2375', '174', '856', '52', '266', '4150',
       '505', '1296', '82', '8157', '1342', '722', '250', '12590',
       '7253.01', '850', '692', '109301.56', '28751.5', '560', '3075',
       '9748', '2398', '2016-02-15 17:24:27', '8260', '533', '2337',
       '160', '111307.22', '19224', '7326.46', '5661', '2867', '1100',
       '1520', '135', '2026', '1577', '545', '2356', '11050', '865',
       '7281.1', '296', '61', '179', '2501', '2634'], dtype=object)